<div class="jumbotron">

  <form>

    <div class="form-group">
      <label for="QuestionTitle">Question Title</label>
      <input [(ngModel)]="question.title" type="text"
             name="title"
             class="form-control"
             id="QuestionTitle"
             placeholder="Title">
    </div>


    <div class="form-group">
      <label for="QuestionBody">Question</label>
      <textarea [(ngModel)]="question.question" type="text"
             name="question"
             class="form-control"
             rows="5"
             id="QuestionBody"
                placeholder="Question">
      </textarea>
    </div>

    <button class="btn btn-outline-success" (click)="hasAnswer = !hasAnswer">With Answer?</button>

    <div class="form-group" *ngIf="hasAnswer">
      <label for="AnswerBody">Answer</label>
      <textarea [(ngModel)]="answer.answer" type="text"
                name="Answer"
                class="form-control"
                rows="5"
                id="AnswerBody"
                placeholder="Answer">
      </textarea>
    </div>

    <form [formGroup]="form">
      <label formArrayName="tags"
             *ngFor="let tag of form.controls.tags.value;
             let i = index; trackBy: trackByIndex">
        <input type="checkbox" [formControlName]="i">
        {{availableTags[i].tagName}}
      </label>
    </form>



    <i (click)="submit()" type="submit" class="btn btn-primary">Submit</i>
  </form>
</div>
