<div class="container">
  <div class="modal-header row">
    <h4 class="modal-title col">Please enter login and password</h4>
  </div>
  <div class="row">
    <div class="col">
      Username:<br>
      <input [(ngModel)]="user.username">
    </div>
  </div>
  <div *ngIf="mode == REGISTER" class="row">
    <div class="col">
      Email:<br>
      <input [(ngModel)]="user.email">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Password:<br>
      <input [(ngModel)]="user.password" type="password">
    </div>
  </div>

  <div class="modal-footer row">
    <div class="col">
      <button (click)="activeModal.dismiss()" class="btn btn-outline-secondary float-left" type="button">Cancel</button>
      <div *ngIf="mode == REGISTER">
        <button (click)="register()" class="btn btn-success float-right" type="button">Register</button>
      </div>
      <div *ngIf="mode == LOGIN">
        <button (click)="login()" class="btn btn-success float-right" type="button">Login</button>
      </div>
    </div>
  </div>
</div>
<!--<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"-->
<!--        (click)="frame.show()" mdbWavesEffect>Launch Modal</button>-->

<!--<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"-->
<!--     aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header text-center">-->
<!--        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body mx-3">-->
<!--        <div class="md-form mb-5">-->
<!--          <i class="fas fa-currentUser prefix grey-text"></i>-->
<!--          <input type="text" id="orangeForm-name" class="form-control validate" [formControl]="signupFormModalName"-->
<!--                 mdbInput>-->
<!--          <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>-->
<!--        </div>-->
<!--        <div class="md-form mb-5">-->
<!--          <i class="fas fa-envelope prefix grey-text"></i>-->
<!--          <input type="email" id="orangeForm-email" class="form-control validate" [formControl]="signupFormModalEmail"-->
<!--                 mdbInput>-->
<!--          <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>-->
<!--        </div>-->

<!--        <div class="md-form mb-4">-->
<!--          <i class="fas fa-lock prefix grey-text"></i>-->
<!--          <input type="password" id="orangeForm-pass" class="form-control validate" [formControl]="signupFormModalPassword"-->
<!--                 mdbInput>-->
<!--          <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="modal-footer d-flex justify-content-center">-->
<!--        <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Sign up</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
