<div *ngIf="question" class="container mt-3">
  <div class="row">
    <div class="col">
      <span *ngFor="let tag of question.tags">
        <span class="badge badge-custom-accent ml-2"> {{ tag.tagName}} </span>
      </span>
    </div>
    <div class="col">
      <div *ngIf="logged">
        <span (click)="delete()" *ngIf="!editMode" class="badge btn badge-danger mr-2 float-right">Delete</span>
        <span (click)="editMode=!editMode" *ngIf="!editMode"
              class="badge btn badge-warning mr-2 float-right">Edit</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!editMode"
         [class.col-11]="adminLogged && !question.accepted"
         [class.col]="!adminLogged || question.accepted"
         class="background-primary-dark">
      {{ question.title }}
    </div>
    <div *ngIf="adminLogged && !question.accepted"
         [class.d-none]="question.accepted"
         class="col-1 background-primary-dark">
      <button class="btn btn-accent" (click)="acceptQuestion()">Accept</button>
    </div>
    <input *ngIf="editMode" [(ngModel)]="question.title" class="col background-primary-dark">
  </div>
  <div class="row">
    <div *ngIf="!editMode" class="col background-primary-light p-2">
      {{ question.question }}
    </div>
    <textarea *ngIf="editMode" [(ngModel)]="question.question" class="col background-primary-light">
      </textarea>
  </div>
  <div *ngIf="editMode" class="row background-primary-light">
    <div class="col">
      <button (click)="submitQuestion()" class="badge btn btn-success float-left">Save</button>
    </div>
    <div class="col">
      <button (click)="editMode=!editMode" class="badge btn btn-warning float-right">Cancel</button>
    </div>
  </div>
  <div *ngIf="question.user" class="row">
    <div class="col background-primary-light">
      <span class="float-right small">posted by: {{ question.user.username }}</span>
    </div>
  </div>
  <div class="row background-primary-light">
    <div class="col">
      <span *ngIf="question.answers && question.answers.length > 0">
        <button (click)="showAnswer()"
                *ngIf="hidden"
                class="badge btn btn-outline-accent-secondary float-left">Show answer</button>
        </span>
    </div>
    <div class="col">
      <button
        (click)="hasNewAnswer()"
        *ngIf="!newAnswer && logged"
        class="badge btn btn-outline-accent float-right">New Answer
      </button>
    </div>
  </div>

  <form *ngIf="newAnswer" class="form-group ">
    <div class="row">
          <textarea [(ngModel)]="newAnswer.answer" class="form-control col"
                    id="AnswerBody"
                    name="answer"
                    placeholder="answer"
                    rows="5"
                    type="text">
            </textarea>
    </div>
    <div class="row">
      <div class="col">
        <button (click)="submitAnswer()"
                class="badge btn btn-success float-left"
                type="submit">Submit
        </button>
      </div>
      <div class="col">
        <button (click)="newAnswer = null"
                class="badge btn btn-warning float-right">Cancel
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="question.answers && question.answers.length > 0 && !hidden">
  <app-answer-item (emitter)="update()" *ngFor="let answer of question.answers" [answer]=answer>
  </app-answer-item>
  </div>
</div>
