<div *ngIf="answer" class="container mt-1">

  <div class="row">
    <div class="col background-primary-light">
      <button (click)="editMode = !editMode" *ngIf="!editMode && dataService.currentUser"
              class="badge btn btn-warning float-left">Edit
      </button>

      <button (click)="saveEditedAnswer()" *ngIf="editMode"
              class="badge btn btn-outline-success float-left">Save
      </button>

      <button (click)="editMode = !editMode" *ngIf="editMode"
              class="badge btn btn-warning float-right">Cancel
      </button>

      <button (click)="deleteAnswer()" *ngIf="!editMode && dataService.currentUser"
              class="badge btn btn-danger float-right">Delete
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col background-primary-light">
      <pre *ngIf="!editMode" class="p-2">{{ answer.answer }}</pre>
    </div>
  </div>
  <div class="row" *ngIf="editMode">
      <textarea rows="10" class="col background-primary-light" [(ngModel)]="answer.answer"></textarea>
  </div>

  <div class="row">
    <div class="col background-primary-light">
      <div *ngIf="answer.user" class="small float-right">posted by: {{answer.user}}</div>
    </div>
  </div>

</div>
