<div class="container" (touchstart)="swipe.swipe($event, 'start')" (touchend)="swipe.swipe($event, 'end')">
  <div class="jumbotron background-primary">
    <div class="d-block d-md-none mt-4"></div>
    <div class="row">
      <div class="col" *ngIf="!dataService.page">
        <button (click)="loadNext()"
                *ngIf="(dataService.page && !dataService.page.last) || !dataService.page"
                class="btn btn-outline-accent-secondary float-right">next
        </button>
        <button (click)="loadPrev()" *ngIf="dataService.page && !dataService.page.first"
                class="btn btn-outline-accent-secondary float-left">prev
        </button>
      </div>
    </div>
    <div *ngIf="dataService.questions$ | async as questions; else loading">
      <div *ngIf="questions.length < 1" class="card-header">
        No questions found
      </div>
      <app-question-item *ngFor="let question of questions" [question]="question"></app-question-item>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="card">
    <div class="card-header">
      Loading
    </div>
  </div>
</ng-template>
