<div class="container" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <div class="jumbotron background-primary">
    <div class="d-block d-md-none mt-4"></div>
    <div class="row">
      <div class="col">
        <button (click)="loadNext()" *ngIf="!admin" class="btn btn-outline-accent-secondary float-right">next</button>
        <button (click)="loadAllPrev()" *ngIf="admin && logged" class="btn btn-outline-accent-secondary float-left">prev
        </button>
        <button (click)="loadAllNext()" *ngIf="admin && logged" class="btn btn-outline-accent-secondary float-right">next
        </button>
      </div>
    </div>
    <div *ngIf="questionList.length < 1" class="card">
      <div class="card-header">
        {{ notification }}
      </div>
    </div>
    <app-question-item *ngFor="let question of questionList" [question]="question"></app-question-item>
  </div>
</div>
