
<span *ngFor="let tag of question.tags">
  <span class="badge badge-info"> {{ tag.tagName}} </span>
</span>
<div class="card">
  <div class="card-header">
    {{ question.title }}
  </div>

  <div class="card-body">
    {{ question.question }}
  </div>

  <span *ngIf="question.answers && question.answers.length > 0">
    <button class="btn btn-info" (click)="showAnswer()" *ngIf="hidden">Answer</button>
  </span>
  <div *ngIf="question.answers && question.answers.length > 0 && !hidden">

    <div class="container">

      <div class="card">
        <div class="card-header">
          Answer:
        </div>
        <div class="card-body">
          <app-answer-item *ngFor="let answer of question.answers" [answer] = answer>
          </app-answer-item>
        </div>
      </div>



    </div>

  </div>
</div>
