<nav class="navbar navbar-expand-lg background-primary-dark fixed-top">
  <span class="navbar-brand">
    {{ title }}
  </span>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button *ngIf="user"
              class="nav-item nav-link active btn btn-sm btn-outline-accent color-text mr-1"
              routerLink="newQuestion">
        New Question
        <span class="sr-only">(current)</span></button>

      <button class="nav-item nav-link btn btn-sm btn-outline-accent mr-1"
              routerLink="home" (click)="changeCategory(0)">
        All
        <span class="sr-only">(current)</span></button>

      <span *ngFor="let tag of tagList; let i = index">
      <button class="nav-item nav-link active btn btn-sm btn-outline-accent mr-1"
              (click)="changeCategory(tagList[i].id)"
              routerLink="home">
        {{ tag.tagName }}
        <span class="sr-only">(current)</span></button>
<!--      <button class="nav-item nav-link active btn btn-info">Home <span class="sr-only">(current)</span></button>-->
<!--      <button class="nav-item nav-link btn btn-info">Features</button>-->
<!--      <button class="nav-item nav-link btn btn-info">Pricing</button>-->
<!--      <button class="nav-item nav-link disabled" href="#">Disabled</button>-->
        </span>

      <span>
        <button *ngIf="!editNew" class="btn btn-sm btn-outline-accent" (click)="editNew = !editNew">Add new tag</button>
        <span *ngIf="editNew">
          <input *ngIf="editNew" [(ngModel)]="newTag.tagName">
          <button class="btn btn-sm btn-outline-accent" (click)="submitNewTag()">Submit</button>
          <button class="btn btn-sm btn-outline-accent-secondary" (click)="editNew = !editNew">Cancel</button>
        </span>
      </span>

    </div>
  </div>

  <div *ngIf="user">
    {{ user.name }}
    <button class="btn btn-sm btn-outline-accent-secondary" (click)="logout()">Log Out</button>
  </div>
  <div *ngIf="!user">
    <button class="btn btn-sm btn-outline-accent-secondary mr-2" (click)="openModal(REGISTER)">Register</button>
    <button class="btn btn-sm btn-outline-accent-secondary" (click)="openModal(LOGIN)">Login</button>
  </div>
</nav>
