<div *ngIf="question" class="mt-5">

  <div class="d-flex">
    <div class="mr-auto">
      <span *ngFor="let tag of question.tags">
        <span class="badge badge-custom-accent ml-2"> {{ tag.tagName}} </span>
      </span>
    </div>
    <div *ngIf="logged">
      <span *ngIf="!editMode" class="badge btn badge-warning mr-2" (click)="editMode=!editMode">Edit</span>
      <span *ngIf="!editMode" class="badge btn badge-danger mr-2" (click)="delete()">Delete</span>
    </div>
  </div>

  <div class="card background-primary-dark">

    <div class="border-custom-accent card" *ngIf="!editMode">

      <div class="background-primary-dark card-header pre-wrap">
        {{ question.title }}
      </div>
      <div class="card-body pre-wrap background-primary-light">
        {{ question.question }}
      </div>

      <div class="d-flex background-primary-light mt-n3">
        <div class="mr-auto">
        <span *ngIf="question.answers && question.answers.length > 0">
        <button class="badge btn btn-outline-accent-secondary m-2"
                (click)="showAnswer()"
                *ngIf="hidden">Show answer</button>
        </span>
        </div>
        <button [class.disabled]="disabled"
                class="badge btn btn-outline-accent m-2"
                (click)="hasNewAnswer()"
                *ngIf="!newAnswer && logged">New Answer
        </button>
      </div>

      <div *ngIf="question.answers && question.answers.length > 0 && !hidden">

        <div class="container">

          <div class="card  mr-4 mt-2 border-0">

            <div class="card-group flex-column border-0">
              <app-answer-item *ngFor="let answer of question.answers" [answer]=answer (emitter)="update()">
              </app-answer-item>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div *ngIf="editMode" class="card">

      <input *ngIf="editMode" class="card-header" [(ngModel)]="question.title">

      <textarea *ngIf="editMode" class="card-body" [(ngModel)]="question.question">
    </textarea>

      <span>
        <button class="badge btn btn-success" (click)="submitQuestion()">Save</button>
        <button class="badge btn btn-warning" (click)="editMode=!editMode">Cancel</button>
      </span>

    </div>


    <div *ngIf="newAnswer">
      <div class="jumbotron background-primary-light">

        <form>

          <div class="form-group">
            <label for="AnswerBody">New Answer</label>
            <textarea [(ngModel)]="newAnswer.answer" type="text"
                      name="answer"
                      class="form-control"
                      rows="5"
                      id="AnswerBody"
                      placeholder="answer">
            </textarea>
          </div>

          <button (click)="submitAnswer()"
                  type="submit"
                  [class.disabled]="disabled"
                  class="badge btn btn-success ml-2">Submit
          </button>

          <button (click)="newAnswer = null"
                  [class.disabled]="disabled"
                  class="badge btn btn-warning ml-4">Cancel
          </button>
        </form>
      </div>

    </div>

  </div>


</div>
