<nav class="navbar navbar-expand-lg background-primary-dark fixed-top">
  <span class="navbar-brand d-none d-md-inline-block">
    <a id="logo" routerLink="" (click)="dataService.setCategory(0)">{{ title }}</a>
  </span>

  <div class="btn-group">
    <div ngbDropdown class="btn-group" role="group">
      <button class="btn btn-outline-accent" id="categoryDropdown" ngbDropdownToggle>Categories</button>
      <div aria-labelledby="categoryDropdown" ngbDropdownMenu>
        <button (click)="dataService.setCategory(0)"
                class="dropdown-item" routerLink="home">
          All
        </button>
        <div *ngFor="let tag of (dataService.tags$ | async)">
          <button (click)="dataService.setCategory(tag.id)"
                  class="dropdown-item"
                  routerLink="home">
            {{ tag.tagName }}
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="dataService.currentUser" class="btn-group" ngbDropdown role="group">
      <button class="btn btn-outline-accent" id="addDropdown" ngbDropdownToggle>Add...</button>
      <div aria-labelledby="addDropdown" ngbDropdownMenu>
        <button ngbDropdownItem
                routerLink="newQuestion">
          New Question
        </button>
        <button (click)="editNew = !editNew" ngbDropdownItem>Add new category</button>
      </div>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

        <span *ngIf="editNew">
          <input *ngIf="editNew" [(ngModel)]="newTag.tagName">
          <button (click)="submitNewTag()" class="btn btn-sm btn-outline-accent">Submit</button>
          <button (click)="editNew = !editNew" class="btn btn-sm btn-outline-accent-secondary">Cancel</button>
        </span>

    </div>
  </div>

  <div *ngIf="dataService.currentUser else unLogged">
    <div display="dynamic" ngbDropdown placement="bottom-right">
      <button class="btn btn-outline-accent" id="userDropdown"
              ngbDropdownToggle>{{ dataService.currentUser.username }}</button>
      <div aria-labelledby="userDropdown" ngbDropdownMenu>
        <input #search placeholder="search" (keyup.enter)="dataService.search(search.value)">
        <button (click)="dataService.loadAll()"
                ngbDropdownItem
                routerLink="">
          Show All
        </button>
        <button (click)="dataService.knownQuestions()"
                ngbDropdownItem
                routerLink="/known">
          Show learned
        </button>
        <button (click)="dataService.knownQuestions()"
                *ngIf="dataService.isAdmin"
                ngbDropdownItem
                routerLink="/admin">
          Administrate
        </button>
        <button (click)="logout()"
                ngbDropdownItem>Log Out
        </button>

      </div>
    </div>

  </div>
  <ng-template #unLogged>
    <div>
      <button (click)="openModal(REGISTER)" class="btn btn-outline-accent mr-2">Register</button>
      <button (click)="openModal(LOGIN)" class="btn btn-outline-accent">Login</button>
    </div>
  </ng-template>
</nav>
