<nav class="navbar navbar-expand-lg background-primary-dark fixed-top">
  <span class="navbar-brand d-none d-md-inline-block">
    <a routerLink="">{{ title }}</a>
  </span>

  <div ngbDropdown>
    <button class="btn btn-outline-accent" id="categoryDropdown" ngbDropdownToggle>Categories</button>
    <div aria-labelledby="categoryDropdown" ngbDropdownMenu>
      <button (click)="changeCategory(0)"
              class="dropdown-item" routerLink="home">
        All
      </button>
      <div *ngFor="let tag of tagList; let i = index">
        <button (click)="changeCategory(tagList[i].id)"
                class="dropdown-item"
                routerLink="home">
          {{ tag.tagName }}
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="user" class="d-inline-block" ngbDropdown>
    <button class="btn btn-outline-accent" id="addDropdown" ngbDropdownToggle>Add...</button>
    <div aria-labelledby="addDropdown" ngbDropdownMenu>
      <button *ngIf="user"
              class="dropdown-item"
              routerLink="newQuestion">
        New Question
      </button>
      <button (click)="editNew = !editNew" class="dropdown-item">Add new category</button>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

        <span *ngIf="editNew">
          <input *ngIf="editNew" [(ngModel)]="newTag.tagName">
          <button (click)="submitNewTag()" class="btn btn-sm btn-outline-accent">Submit</button>
          <button (click)="editNew = !editNew" class="btn btn-sm btn-outline-accent-secondary">Cancel</button>
        </span>

    </div>
  </div>

  <div *ngIf="user">
    <div class="d-inline-block" ngbDropdown>
      <button class="btn btn-outline-accent" id="userDropdown" ngbDropdownToggle>{{ user.username }}</button>
      <div aria-labelledby="userDropdown" ngbDropdownMenu>
        <button
          class="dropdown-item"
          routerLink="admin">
          Show All
        </button>
        <button
          (click)="logout()"
          class="dropdown-item">Log Out
        </button>

      </div>
    </div>

  </div>
  <div *ngIf="!user">
    <button (click)="openModal(REGISTER)" class="btn btn-sm btn-outline-accent-secondary mr-2">Register</button>
    <button (click)="openModal(LOGIN)" class="btn btn-sm btn-outline-accent-secondary">Login</button>
  </div>
</nav>
