  <div class="card m-2 border-custom-sides" *ngIf="answer">

      <div class="card-header d-flex">
        <button *ngIf="!editMode && user" class="badge btn btn-warning mr-auto align-self-start"
                   (click)="editMode = !editMode">Edit</button>

        <button *ngIf="editMode" (click)="saveEditedAnswer()"
                class="badge btn btn-outline-success mr-auto align-self-start">Save</button>

        <button *ngIf="editMode" class="badge btn btn-warning ml-auto align-self-end"
                (click)="editMode = !editMode">Cancel</button>

        <button *ngIf="!editMode && user" (click)="deleteAnswer()"
                class="badge btn btn-danger ml-auto align-self-end">Delete</button>
      </div>

      <div class="card-body m-2 p-2"  *ngIf="editMode" >
        <textarea class="card-body" [(ngModel)]="answer.answer"></textarea>
      </div>

      <div class="pre-wrap text-center p-2" *ngIf="!editMode">{{ answer.answer }}</div>

  </div>
